body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF4E0; /* bisque más suave */
    color: #333;
    line-height: 1.6;
}




h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 20px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}


a {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #FF3B2F;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

footer {
    background-color: #4B3B2A;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}






