body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8fafc; /* bisque más suave */
    color: #333;
    line-height: 1.6;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
    margin: 20px 0; 
    padding: 15px 0; 
    color: #fff; 
    background-color: #FF3B2F;
    border-radius: 8px; 
}


img {
    width: 280px;
    height: 280px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: justify;
}

a {
    color: #333;
    text-decoration: none;
    background-color: #eef130;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 600px;
}

a:hover {
    background-color: #FF3B2F;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}






